<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016. PathOS Variant Curation System. All rights reserved.
  ~
  ~ Organisation: Peter MacCallum Cancer Centre
  ~ Author: Ken Doig
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

</web-app>
